input, select, button {
  outline: none !important; }

button, select, input[type="date"], input[type="text"] {
  color: #444;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
  box-sizing: border-box; }
  button:active, select:active, input[type="date"]:active, input[type="text"]:active {
    background: -webkit-linear-gradient(top, #ccc, #fff); }
  button:disabled, select:disabled, input[type="date"]:disabled, input[type="text"]:disabled {
    opacity: .5;
    cursor: not-allowed !important; }

textarea, input[type="text"] {
  background: -webkit-linear-gradient(top, #F7F7F7, #fff);
  border: 1px solid #bbb;
  outline: none;
  cursor: text; }
  textarea:active, input[type="text"]:active {
    background: -webkit-linear-gradient(top, #F7F7F7, #fff);
    cursor: text; }

.w-100 {
  width: 100%;
  box-sizing: border-box; }

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  display: none; }

input[type="file"]::before {
  content: 'Import from json';
  width: 147px;
  text-align: center;
  color: #444;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
  box-sizing: border-box; }
  input[type="file"]::before:active {
    background: -webkit-linear-gradient(top, #ccc, #fff); }

input[type="file"]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

.add-row .custom-select {
  float: left;
  height: 30px;
  width: 162px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 3px 0 0 3px; }

.add-row button {
  float: left;
  height: 30px;
  border-left: 0;
  border-radius: 0 3px 3px 0; }

.custom-select {
  position: relative;
  color: #444;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 10pt;
  box-sizing: border-box; }
  .custom-select:active {
    background: -webkit-linear-gradient(top, #ccc, #fff); }
  .custom-select select {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
    .custom-select select:focus {
      outline: none; }

.email-wrapper {
  width: 100%;
  overflow: hidden;
  display: table; }

.email-content {
  display: table-cell; }

.draging > td {
  border: 2px solid #96C22F;
  opacity: .5;
  background-color: #E2E2E2; }

.drag-over > td {
  border-top: 2px solid #BfBfBf; }

[draggable="true"] img {
  pointer-events: none; }

[draggable="true"] .img-link {
  display: table; }

.edit-menu {
  position: absolute;
  z-index: 99;
  top: 10px;
  right: 300px;
  margin: 20px; }

.email-builder {
  display: table-cell;
  position: relative; }
  .email-builder .docker {
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(60, 60, 60, 0.12);
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%; }
    .email-builder .docker table {
      border-collapse: collapse; }
    .email-builder .docker textarea {
      resize: vertical;
      min-height: 130px;
      padding: 5px;
      box-sizing: border-box;
      width: 100%;
      font-size: 14px; }
    .email-builder .docker .btn {
      color: #444;
      display: inline-block;
      background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
      border: 1px solid #bbb;
      border-radius: 3px;
      padding: 5px 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      text-shadow: 1px 1px #fff;
      font-size: 10pt;
      box-sizing: border-box; }
      .email-builder .docker .btn:active {
        background: -webkit-linear-gradient(top, #ccc, #fff); }
    .email-builder .docker td {
      padding: 5px; }
    .email-builder .docker th {
      height: 30px;
      line-height: 30px;
      border-bottom: 10px solid #fff;
      color: #fff;
      background-color: #85B119;
      background: linear-gradient(to bottom, #9dc549 0, #89B236 100%); }
    .email-builder .docker .trash {
      background: #eee;
      height: 60px;
      font-weight: bold;
      color: #A2A1A1;
      line-height: 60px;
      text-align: center;
      margin-top: 10px;
      border-radius: 3px;
      border: 1px dashed #ccc; }
      .email-builder .docker .trash.drag-over {
        -webkit-animation: zoom .5s infinite;
        /* Chrome, Safari, Opera */
        animation: zoom .5s infinite; }

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0.9, 0.9); }
  50% {
    -webkit-transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0.9, 0.9); } }

/* Standard syntax */
@keyframes zoom {
  0% {
    transform: scale(0.9, 0.9); }
  50% {
    transform: scale(1, 1); }
  100% {
    transform: scale(0.9, 0.9); } }
